body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.cascading-right {
  margin-right: -50px;
}

@media (max-width: 650px) {
  .cascading-right {
    margin-right: 0;
  }
}

.bg-img {
  background-image: url(../../assets/images/signup_img/background_img.jpg);
  max-width: 100%;
  height: auto;
  position: absolute;
  box-sizing: border-box;
}

.card {
  border-radius: 300px;
}

.card-body h2 {
  color: black;
}

.form-label {
  color: black;
  font-weight: 200px;
  font-size: medium;
  margin-top: 10px;
}

.logo-container {
  margin-bottom: 20px;
  padding: 20px;
  position: absolute;
  align-items: left;
}

.logo-container img {
  float: left;
  max-width: 100%;
  height: auto;
}
